.container_about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;

  @media (max-width: $desktop-l) {
    padding: 0 40px;
  }

  @media (max-width: $mobile-s) {
    padding: 0 10px;
  }

  > * {
    border-radius: 5px;
  }

  h3 {
    width: 100%;
  }

  article {
    height: auto;
    width: 45%;
    padding: 60px 44px;
    margin-right: 2vw;
    background: $color-white;
    flex-grow: 1;

    @media (max-width: $tablet-l) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

.about-carousel {
  overflow: hidden;
  height: 500px;
  width: 42%;

  @media (max-width: $tablet-l) {
    height: 600px;
    width: 100%;
  }

  div {
    height: 100%;
    width: 100%;
  }

  .slick-prev {
    left: 20px;

    @media (max-width: $tablet-m) {
      left: 0;
    }
  }

  .slick-next {
    right: 20px;

    @media (max-width: $tablet-m) {
      right: 0;
    }
  }
}

.badges-list {
  width: 100%;
  margin-top: 95px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.badges-list__badge {
  @media (max-width: $desktop-s) {
    width: 33%;
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-m) {
    width: 50%;
  }

  @media (max-width: $mobile-s) {
    width: 100%;
  }

  li {
    line-height: 0;
  }
}

.badges-list__img {
  display: block;
  margin: 0 auto;
  height: 125px;
}
