.container_about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  > * {
    margin: 40px;
    border-radius: 5px;

    @media (max-width: $width-XS) {
      margin: 40px 0;
    }
  }

  h1 {
    width: 100%;
  }

  article {
    height: auto;
    width: 45%;
    padding: 60px 44px;
    background: $color-white;

    @media (max-width: $width-L) {
      width: 100%;
    }
  }
}

.about-carousel {
  overflow: hidden;
  height: 500px;
  width: 43%;

  @media (max-width: $width-L) {
    height: 600px;
    width: 100%;
  }

  div {
    height: 100%;
    width: 100%;
  }

  .slick-prev {
    left: 20px;

    @media (max-width: $width-S) {
      left: 0;
    }
  }

  .slick-next {
    right: 20px;

    @media (max-width: $width-S) {
      right: 0;
    }
  }
}
