.areas-menu {
  // max-height: 710px;
  height: 710px;
  // width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  @media (max-width: $desktop-l) {
    height: 900px;
  }

  @media (max-width: $desktop-s) {
    height: 1200px;
  }

  @media (max-width: $tablet-l) {
    height: auto;
  }
}

.areas-menu__item {
  margin: 10px;
  border: $test1;
  width: 407px;
  min-height: 230px;
  flex-grow: 1;
  background: $color-white;

  p {
    height: 97px;
  }
}

.link-list__item {
  margin-left: 20px;
}
