.main-carousel {
  .slide {
    height: 100vh;

    h1 {
      position: absolute;
      bottom: 25%;
      left: 100px;
    }
  }
}

.slick-arrow {
  z-index: $z-index-low;
  height: 100px;
  width: 100px;
  top: 50%;
  transform: translateY(-50%);
  border: $test1;
}

.slick-prev {
  left: 100px;
}

.slick-next {
  right: 100px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 50px;

  li button::before {
    content: "";
    background: $color-red;
    border-radius: 50px;
  }
}
