.achievements {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.achievements__item {
  // min-width: 200px;
  width: 20%;
  // width: 250px;
  border: $test1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $desktop-s) {
    width: 25%;
  }

  @media (max-width: $tablet-l) {
    width: 33%;
  }

  @media (max-width: $mobile-m) {
    width: 50%;
  }

  @media (max-width: $mobile-s) {
    width: 100%;
  }
}
