*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  font-size: $root-fz;
}

.body {
  min-width: 320px;
  font-family: $main-font;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 300;
  color: $color-black;
  background-color: $color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  @media (max-width: $desktop-s) {
    font-size: 1.6rem;
  }

  @media (max-width: $mobile-m) {
    font-size: 1.4rem;
  }
}

h1, h2, h3, h4 {
  font-family: $secondary-font;
  text-align: center;
}

h3 {
  margin: 100px 0;
}

a {
  color: currentColor;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

input, textarea {
  background: transparent;
  border: none;
  appearance: none;
  font: inherit;
}

textarea {
  overflow: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1920px;
  padding: 0 100px;
  margin: 0 auto;

  @media (max-width: $desktop-l) {
    padding: 0 40px;
  }

  @media (max-width: $mobile-s) {
    padding: 0 10px;
  }
}

.carousel {
  position: relative;

  .slide {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
