$main-font: sans-serif;
$font-open-sans: "Open Sans";
$secondary-font: $font-open-sans, sans-serif;

$side-indent: 2rem;
$max-width: calc(1220px + #{$side-indent * 2});

$root-fz: 10px;

$retina-bg-path: "../images/bg/";
$retina-dpr: (1.5, 2, 3);

$color-black: #1d1c1d;
$color-white: #fff;
$color-red: #f00;
$color-background: #f2f2f2;

$desktop-l: 1680px;
$desktop-m: 1366px;
$desktop-s: 1280px;
$tablet-l: 1024px;
$tablet-m: 768px;
$mobile-m: 640px;
$mobile-s: 480px;

$test1: 1px solid $color-red;
$test2: rgba(100, 0, 0, .2);
$test2: rgba(8, 1, 1, .2);

$z-index-lowest: -1;
$z-index-low: 1;
